@page
@model The_Ride_You_Rent.Pages.Inspectors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inspector[0].InspectorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspector[0].InspectorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspector[0].InspectorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspector[0].InspectorMobileNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inspector) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorMobileNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InspectorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InspectorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InspectorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
